<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue JS</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue" charset="utf-8"></script>
</head>
<body>
  <div id="app">
    <h1>Two way data binding</h1>
    <label for="name">Name</label>
    <input type="text" v-model="name">
    <span>{{name}}</span>
    <br>
    <label for="name">Age</label>
    <input type="text" v-model="age">
    <span>{{age}}</span>
  </div>
  <script src="app.js" charset="utf-8">Website</script>
</body>
</html>
