<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue JS</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue" charset="utf-8"></script>
</head>
<body>
  <div id="app">
    <h1>If loops</h1>
    <ul>
      <li v-for="character in characters">
        {{character}}
      </li>
    </ul>
    <ul>
      <li v-for="ninja in ninjas">
        {{ninja.name}} whos age is {{ninja.age}}
      </li>
    </ul>
  </div>
  <script src="app.js" charset="utf-8">Website</script>
</body>
</html>
